<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>发表新闻</title>
    <script src="../../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" src="../../static/js/judge.js" th:src="@{/js/judge.js}"></script>
    <script type="text/javascript" src="../../static/js/addNews.js" th:src="@{/js/addNews.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" href="../../static/css/menu.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/addNews.css}" href="../../static/css/addNews.css"/>

</head>

<body onload="getTypes()">
<header role="header">
    <div>
        <h1>发表新闻</h1>
        <nav role="user">
            <ul>
                <span id="num" style="display: none"  th:text="${num}"></span>
                <li><strong id="name" th:text="${userName}"></strong></li>
                <li><a href="../index.html" th:href="@{index}">返回首页</a></li>
                <li id="newsmanger"><a href="newsManger.html" th:href="@{newsManger}">新闻管理</a></li>
                <li id="usermanger"><a href="../user/userManger.html" th:href="@{userManger}">用户管理</a></li>
                <li><a href="../user/menu.html" th:href="@{menu}">个人信息</a></li>
                <li id="login"><a href="../user/login.html" th:href="@{login}">登录</a>
                    &nbsp;或&nbsp;<a href="../user/register.html" th:href="@{register}">注册</a></li>
                <li id="logout"><a href="../user/login.html" onclick="out()">登出</a></li>
            </ul>
        </nav>
    </div>
</header>
 
<div class="mes-send" >
        <div class="form-group">
            <label >标题：</label>
            <input type="text" id="title"  placeholder="新闻标题" size="50">
        </div>
        <div class="form-group">
            <label >摘要：</label>
            <input type="text" id="digest" placeholder="新闻摘要,可以为空">
        </div>
        <div class="form-group">
            <label >新闻类别：</label>
            <select id="type" class="select2" ></select>
        </div>

        <div class="form-group">
            <label >内容：</label>
            <textarea id="content"  rows="25" cols="70"></textarea>
        </div>
        <button onclick="tijiao()" id="tijiao">提交</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="reset">重置</button>

</div>
</body>
</html>
<script>
    var num = document.getElementById("num").innerText;
    console.info(num);
    if(num == "" || num== null){
        document.getElementById("newsmanger").style.display = 'none';
        document.getElementById("usermanger").style.display = 'none';
        document.getElementById("logout").style.display = 'none';
    }else{
        document.getElementById("login").style.display = 'none';
        if(num == 0){
            document.getElementById("newsmanger").style.display = 'none';
            document.getElementById("usermanger").style.display = 'none';
        }
    }
</script>
