<!doctype html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>新闻详情页</title>
    <script src="../../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" src="../../static/js/comment.js" th:src="@{/js/comment.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/newsComment.css}" href="../../static/css/newsComment.css"/>

</head>
<br class="article-container">
    <div class="article_head">
        <h1 class="title" th:text="${newsinfo.title}"></h1>
        <hr>
        <div class="article_r">
            <span class="pulisher" th:text="'作者：'+${newsinfo.author}"></span>
            <span class="time" th:text="'发表于'+${newsinfo.created}"></span>
            <span class="article_view" title="阅读" th:text="'阅读'+${newsinfo.hits}"> </span>
            <span class="article_comments" title="评论"> <a href="#ping" onclick="">评论</a></span>
        </div>
        <br/>
        <br/>
        <p th:align='center'><img th:src="${newsinfo.picture}"></p>
        <pre><div th:align="center" th:text="${newsinfo.content}"></div></pre>
    </div>





    <!--<div class="ImgContent layer-photos-demo" id="layer-photos-demo" >-->
        <!--<img src="../static/picture/login.png">-->
    <!--</div>-->
</div>
<hr>
<div class="comment_list">
    <h3 style="text-indent: 2em;">评论列表</h3>
    <div class="comment">
        <ul th:each="com : ${coms}"  >
            <li>
                <div><span  th:text="${com.ower}"  ></span>
                    <span th:text="${com.created}"></span></div>
                <div   th:text="${com.content}" ></div>
            </li>
        </ul>
    </div>
</div>
<!--<div class="comment_add_or_last" >-->
<!--点击加载更多评论-->
<!--</div>-->
<hr>
</div>
<div  class="sumComment" align="center">
    <a name="ping"></a>
    <input type="text" id="yourcom"  placeholder="输入你的评论" size="50"> &nbsp;
    <button  class="sub"  th:value="${newsinfo.id}" onclick="say(this)">发表</button>
</div>
</hr>

</div>

</body>
<!--<script type="text/javascript" src="common/layui/layui.js"></script>-->
<!--<script type="text/javascript">-->
<!--layui.use(['form','layer','jquery','element','laypage','form'],function(){-->
<!--var form = layui.form();-->
<!--window.layer = layui.layer;-->
<!--layedit = layui.layedit;-->
<!--window.jQuery = window.$ = layui.jquery;-->
<!--var element = layui.element(),form = layui.form();-->
<!--layer.photos({-->
<!--photos: '#layer-photos-demo'-->
<!--,anim: 5-->
<!--});-->

<!--$(document).ready(function(){-->
<!--//alert($(".comment_list").find(".comment")[0] == undefined);-->
<!--if($(".comment_list").find(".comment")[0] == undefined) {-->
<!--$(".comment_add_or_last").html("暂无人评论");-->
<!--}-->
<!--$(document).on('click','.comment_add_or_last', function(){-->
<!--var getMoreComment = $(this);-->
<!--//TODO如果获取的数据为零-->
<!--getMoreComment.html("没有更多评论了");-->
<!--});-->

<!--});-->
<!--});-->

<!--</script>-->


</body>
</html>
