<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>草稿箱</title>
    <script type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" src="../static/js/queryNews.js" th:src="@{/js/queryNews.js}"></script>
</head>
<body>

<table border="2"   cellspacing="0"  align="center"  th:align="center" >
    <tr>
        <th>新闻标题</th>
        <th>新闻类型</th>
        <th>创造时间</th>
        <th>操作</th>

    </tr>
    <tr th:each="map : ${result}">
        <td ><a  th:text="${map.title}"></a></td>
        <td th:text="${map.type}"></td>
        <td th:text="${map.created}"></td>
        <th>
            <button  class="delete" onclick="del(this)" th:value="${map.id}">删除</button>
            <a  th:value="${map.id}" href="NewsInfo.html" th:href="@{'/news/updated?id='+${map.id}}">修改</a>
        </th>
    </tr>
</table>
</body>
</html>
