<!DOCTYPE html>
<html lang="zh-CN">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/searchNews.css}" href="../../static/css/searchNews.css" />-->
    <title>新闻发布系统</title>

</head>
<body>
<div class="container">
    <h1>搜索结果如下</h1>
    <h4></h4>

    <div class="news-list">
            <div class="news-list-item" th:each="res : ${result}">
                <!--<div class="author-time">-->
                    <!--<span  th:text="${res.author}">慕女神</span> 发表于 <span  th:text="${res.created}">2014-07-20 18:07:10</span>-->
                <!--</div>-->
                <div class="news-des">
                    <h3 class="news-title"><i></i><a th:href="@{'news/getnews/?id='+${res.id}}" th:text="${res.title}"></a></h3>
                </div>
            </div>
    </div>
</div>
  </body>
</html>