<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>发表新闻</title>
    <script src="../../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" src="../../static/js/judge.js" th:src="@{/js/judge.js}"></script>
    <script type="text/javascript" src="../../static/js/addNews.js" th:src="@{/js/addNews.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../../static/css/index.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" href="../../static/css/menu.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/addNews.css}" href="../../static/css/addNews.css"/>

</head>
<body onload="getTypes()">
<form class="mes-send" action="/news/addNews" method="post" enctype="multipart/form-data">
    <h3>修 改 新 闻</h3></br>
    <div class="form-group">
        <label >标题：</label>
        <input type="text" id="title"  name="title"  size="50" th:value="${news.title}">
    </div>
    <div class="form-group">
        <label >摘要：</label>
        <input type="text" id="digest" name="digest" th:value="${news.digest}">
    </div>
    <div class="form-group">
        <label >新闻类别：</label>
        <select id="type" name="type"class="select2" ></select>
    </div>

    <div class="form-group">
        <label >内容：</label>
        <textarea id="content"  name="content" rows="25" cols="30" th:text="${news.content}"></textarea>
    </div>
    <div class="form-group">
        <label >图片：</label>
        <img th:src="${news.picture}" id="picture"  name="picture"></textarea>
    </div>
    <div class="form-group">
        <label>图片重新上传：</label>
        <input type="file" name="file"/>
    </div>
    <!--onclick="tijiao()"-->
    <!--<button  type="button" id="baocun">保存</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
    <button  type="submit" id="tijiao">提交修改</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</form>
</body>
</html>