<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>个人信息</title>
    <script src="../../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../../static/css/index.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" href="../../static/css/menu.css" />
    <script src="../../static/js/judge.js" th:src="@{/js/judge.js}"></script>
</head>

<body onload="menujudge()">
<!--顶部信息区-->
<header role="header">
    <div>
        <h1>个人信息</h1>
        <nav role="user">
            <ul>
                <span id="num" style="display: none"  th:text="${num}"></span>
                <span id="id" style="display: none"  th:text="${id}"></span>
                <li ><strong id="name" th:text="${userName}"></strong></li>
                <li><a href="../index.html" th:href="@{index}">返回首页</a></li>
                <li id="typemanger"><a href="../newsType/newsTypeManger.html" th:href="@{newsTypeManger}">新闻类型管理</a></li>
                <li id="newsmanger"><a href="../news/newsManger.html" th:href="@{../newsManger}">新闻管理</a></li>
                <li id="usermanger"><a href="userManger.html" th:href="@{userManger}">用户管理</a></li>
                <li id="logout"><a href="login.html" onclick="out()">登出</a></li>
            </ul>
        </nav>
    </div>
</header>
<!--圣杯二列布局-->
<main role="main">
    <!--主体内联框架区-->
    <article role="content">
        <iframe src="myinfo.html" th:src="@{/user/myinfo}"  name="main"></iframe>

    </article>
    <!--左侧导航区-->
    <aside>
        <nav role="option">
            <ul>
                <li><strong>导航列表</strong></li>
                <li><a href="myinfo.html"  th:href="@{/user/myinfo}" class="active" target="main">个人信息</a></li>
                <li><a href="updateInfo.html" th:href="@{'/user/updateInfo?id='+${id}}" target="main">修改个人信息</a></li>
                <li><a href="updatePass.html" th:href="@{'/user/updatePass?id='+${id}}" target="main">修改密码</a></li>
                <li><a href="../Comment/queryMyComment.html"  th:href="@{comment/queryMyComment}" target="main">我发表的评论</a></li>
                <li  id="mynews"><a href="../news/queryMyNews"  th:href="@{/news/queryMyNews}" target="main">我发表的新闻</a></li>
                <!--<li  id="uncheck"><a href="../news/queryUncheck"  th:href="@{/news/queryUncheck}" target="main">草稿箱</a></li>-->
            </ul>
        </nav>
    </aside>
</main>
</body>
</html>

