<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新闻审核</title>
    <script type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript"  src="../static/js/user.js" th:src="@{/js/user.js}"></script>
    <!--<script type="text/javascript" src="../static/js/queryNews.js" th:src="@{/js/queryNews.js}"></script>-->
</head>
<body>

<table border="3"  align="center"  th:align="center" >
    <tr>
        <th>用户id</th>
        <th>用户名</th>
        <th>邮箱</th>
        <th>是否为管理员</th>
        <th>备注</th>
        <th >操作</th>
    </tr>
    <tr th:each="user : ${list}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUserName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getJusis()}"></td>
        <td th:text="${user.getRemark()}"></td>
        <td><button  id="setadmin" th:value="${user.getId()}" onclick="setadmin(this)">设为管理员</button> &nbsp;&nbsp;
            <button  class="delete" onclick="del(this)" th:value="${user.getId()}">删除</button>
        </td>
    </tr>
</table>
</body>
</html>
