<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>用户管理</title>
    <script src="../../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../../static/css/index.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" href="../../static/css/menu.css" />
    <script src="../../static/js/judge.js" th:src="@{/js/judge.js}"></script>
</head>

<body >
<!--顶部信息区-->
<header role="header">
    <div>
        <h1>用户管理</h1>
        <nav role="user">
            <ul>
                <span id="num" style="display: none"  th:text="${num}"></span>
                <li ><strong id="name" th:text="${userName}"></strong></li>
                <li><a href="../index.html" th:href="@{index}">返回首页</a></li>
                <li id="typemanger"><a href="../newsType/newsTypeManger.html" th:href="@{newsTypeManger}">新闻类型管理</a></li>
                <li id="newsmanger"><a href="../news/newsManger.html" th:href="@{../newsManger}">新闻管理</a></li>
                <li><a href="menu.html" th:href="@{menu}">个人信息</a></li>
                <li id="logout"><a href="login.html" onclick="out()">登出</a></li>
            </ul>
        </nav>
    </div>
</header>
<!--圣杯二列布局-->
<main role="main">
    <!--主体内联框架区-->
    <article role="content">
        <iframe src="addUser.html" th:src="@{addUser}" name="main"></iframe>
    </article>
    <!--左侧导航区-->
    <aside>
        <nav role="option">
            <ul>
                <li><strong>导航列表</strong></li>
                <li><a href="addUser.html" th:href="@{addUser}" class="active" target="main">添加用户</a></li>
                <li><a href="queryUser.html" th:href="@{/user/queryUsers}" target="main">用户管理</a></li>
            </ul>
        </nav>
    </aside>
</main>
</body>
</html>
