body {
    background-size: 100%;
    background-repeat: no-repeat;
}

#login_frame {
    width: 400px;
    height: 260px;
    padding: 13px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;

    background-color: rgba(240, 255, 255, 0.5);

    border-radius: 10px;
    text-align: center;
}

form p > * {
    display: inline-block;
    vertical-align: middle;
}

#email,#password{
    border:1px solid #fff;
    width:230px;
    height: 40px;
    /*margin-left: 20px;*/
    margin-bottom: 20px;
    padding-left: 20px;
}

#submit {
    font-size: 14px;
    font-family: 宋体;

    width: 250px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    /*margin-left: 25px;*/
    color: white;
    background-color: #3BD9FF;
    border-radius: 6px;
    border: 0;

}

#register{
    font-size: 12px;
    color: white;
    text-decoration: none;
    position: relative;
    float: right;
    top: 5px;
}
#register{
    color: blue;
    text-decoration: underline;
}

#login_control {
    padding: 0 28px;
}


