<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/addNews.css}" href="../static/css/addNews.css"/>
    <script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <!--<script type="text/javascript" src="../static/js/addNewsType.js" th:src="@{/js/addNewsType.js}"></script>-->
</head>
<body>
<div class="mes-send" >
    <form method="post" action="/news/addNewsType" >
        <h3>添 加 新 闻 类 型</h3>
        <div class="form-group">
            <label >新建新闻类型:</label>
            <input type="text" id="newsType" name="newsType" placeholder="输入要添加的新闻类型" size="50">
        </div>
        <div>
            <button  type="submit"  onclick="return check(this.form);" id="submit" class="submit">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button  type="reset"  class="submit">重置</button>
        </div>
    </form>
    <!--<h3>hhhhhh</h3>-->
</div>

</body>
</html>
<script>
    function check(form) {
        var newsType = document.getElementById("newsType").value;
        if (newsType == "") {
            alert("请输入新闻类型名称！");
            return false;
        }
    }
</script>
