<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>首页</title>
    <script type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../static/css/index.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" href="../static/css/menu.css" />
    <script type="text/javascript" src="../static/js/judge.js" th:src="@{/js/judge.js}"></script>
</head>

<body onload="judge()">
<!--顶部信息区-->
<header role="header">
    <div>
        <h1>新闻发布系统首页</h1>
        <nav role="user">
            <ul>
                <span id="num" style="display: none"  th:text="${num}"></span>
                <li ><strong id="name" th:text="${userName}"></strong></li>
                <li><a href="user/menu.html" th:href="@{menu}" onclick="return menu()">个人信息</a></li>
                <li id="login"><a href="user/login.html" th:href="@{login}">登录</a>
                    &nbsp;或&nbsp;<a href="user/register.html" th:href="@{register}">注册</a></li>
                <li id="logout"><a href="user/login.html" onclick="out()">登出</a></li>
    </ul>
    </nav>
</div>
</header>
<div id="body">
    <div id="search">
        <div id="search_left"><a href="#"><img src="../static/picture/login.png" th:src="@{/picture/login.png}" alt="新闻系统" height="46px" width="137px"></a></div>
        <div id="search_right">
            <form id="search_right_2" action="/search" method="post" >
                <div class="input-append">
                    <input type="text" class="span5" name="key" id="key" placeholder="请输入关键字">
                    <button class="btn" type="submit" >搜索</button>
                </div>
            </form>
        </div>
    </div>
    <div id="navigate">
        <a href="#" class="selected">首页</a>
        <div th:each="t : ${type}">
            <a th:text="${t.getTypeName()}"  th:href="@{'guide?id='+${t.id}}"></a>
        </div>
    </div>
        <div id="recommend">
            <div id="recommend_left">
                <div id="recommend_left_1" >
                    <ul th:each="hot : ${hot}">
                        <li > <p ><a th:text="${hot.getTitle()}"  th:href="@{'news/getnews/?id='+${hot.id}}"></a></p></li>
                    </ul>
                </div>
                <div id="recommend_left_2">
                    <p class="recommend_left_2_bt"  >消息称高层正起草7大领域改革方案 涉户籍制度 </p>
                    <ul  th:each="curr : ${curr}">
                        <li ><a  th:text="${curr.getTitle()}"  th:href="@{'/news/getnews/?id='+${curr.id}}"></a> </li>
                    </ul>
                </div>
            </div>
            <div id="recommend_right">
                <div id="recommend_right_1" >
                    <img src="../static/picture/quan.jpg" th:src="${pic.picture}"  width="560" height="400"/>
                    <p ><a th:text="${pic.getTitle()}"  th:href="@{'/news/getnews/?id='+${pic.id}}"></a></p>
                </div>
                <div id="recommend_right_2">
                    <div class="recommend_right_2_bt">滚动新闻</div>
                    <div class="recommend_right_2_m">
                        <!--<marquee scrollamount="2">|暴雨袭击藤县局部受灾|挖掘传承传统技艺 藤县水上民歌传承基地挂牌成立 |岑溪工商开展儿童用品市场专项整治见成效|</marquee>-->
                            <marquee scrollamount="2">
                                <a th:text="${cir.getTitle()}"   th:href="@{'/news/getnews/?id='+${cir.id}}"></a>&nbsp;|&nbsp;
                                <a th:text="${circle.getTitle()}"   th:href="@{'/news/getnews/?id='+${circle.id}}"></a>
                            </marquee>
                    </div>
                </div>
            </div>
        </div>
        <div id="technology"></div>
        <div id="relevant"></div>
        <div id="footer"></div>
    </div>
</body>
</html>
<script>
    function judge(){
        var num = document.getElementById("num").innerText;
        console.info(num);
        if(num == "" || num== null){
            document.getElementById("logout").style.display = 'none';
        }else {
            document.getElementById("login").style.display = 'none';
        }
    }
</script>

