<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>个人信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../static/css/index.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" href="../static/css/menu.css" />
    <script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
</head>

<body>
<!--顶部信息区-->
<header role="header">
    <div>
        <h1>个人信息</h1>
        <nav role="user">
            <ul>
                <li>欢迎管理员:<strong>admin</strong></li>
                <li><a href="login.html" th:href="@{logout}">发布新闻</a></li>
                <li><a  href="news.html"  th:href="@{news}">新闻管理</a></li>
                <li><a href="user.html" th:href="@{user}">用户管理</a></li>
                <li><a href="menu.html" th:href="@{menu}">个人信息</a></li>
                <li><a href="login.html" th:href="@{login}">登录</a>
                    &nbsp;或&nbsp;<a href="register.html" th:href="@{register}">注册</a></li>
                <li><a href="login.html" th:href="@{logout}">登出</a></li>
            </ul>
        </nav>
    </div>
</header>
<div id="body">
    <div id="search">
        <div id="search_left"><a href="#"><img src="../static/picture/login.png" th:src="@{/picture/login.png}" alt="新闻系统" height="46px" width="137px"></a></div>
        <div id="search_right">
            <form id="search_right_2" action="" method="post" >
                <div class="input-append">
                    <input type="text" class="span5" placeholder="请输入关键字">
                    <button class="btn" type="button">搜索</button>
                </div>
            </form>
        </div>
    </div>
    <div id="navigate">
        <a href="#" class="selected">首页</a>
        <a href="#">热点</a>
        <a href="#">国内</a>
        <a href="#">国际</a>
        <a href="#">军事</a>
        <a href="#">财经</a>
        <a href="#">互联网</a>
        <a href="#">体育</a>
        <a href="#">娱乐</a>
        <a href="#">女人</a>
        <a href="#">科技</a>
        <a href="#">房产</a>
        <a href="#">汽车</a>
        <a href="#">社会</a>
        <a href="#">游戏</a>
        <a href="#">教育</a>
        <a href="#">图片</a>
        <a href="#">人物</a>
        <a href="#">新闻名站</a></div>
    <div id="recommend">
        <div id="recommend_left">
            <div id="recommend_left_1">
                <p class="recommend_left_1_bt">菲称台渔船冲撞才射击 躲渔船像惊悚片</p>
                <p>[台渔船否认冲撞] [马英九:菲律宾冷血谋杀] [台军演疑遭美舰艇尾随] </p>
                <p class="recommend_left_1_bt">央视：达赖集团发布《自焚指导书》操纵自焚</p>
                <p>[步骤设计详细] [一见火光冲天就兴奋] [称自焚者为英雄] [视频] </p>
                <p class="recommend_left_1_bt">香港轻轨列车出轨至少62人伤 </p>
                <p>[轻铁转弯时出事 不少乘客倒地流血] [3名重伤者已送往医院] </p>
            </div>
            <div id="recommend_left_2">
                <p class="recommend_left_2_bt">消息称高层正起草7大领域改革方案 涉户籍制度 </p>
                <ul>
                    <li>最高检公布刑事赔偿新标准 日赔偿额为182.35元 </li>
                    <li>美国称跟踪到中国探空火箭:发射过程携多个物体 </li>
                    <li>中国海监船编队巡航钓鱼岛领海 驱离日侵权船舶 </li>
                    <li>中央8项规定出台 北京部分高端餐厅开卖火锅包子 </li>
                </ul>
            </div>
        </div>
        <div id="recommend_right">
            <div id="recommend_right_1"><img src="../static/picture/login.png" th:src="@{/picture/login.png}"  width="560" height="400"/>
            </div>
            <div id="recommend_right_2">
                <div class="recommend_right_2_bt">滚动新闻</div>
                <div class="recommend_right_2_m">
                    <!--<marquee scrollamount="2">|暴雨袭击藤县局部受灾|挖掘传承传统技艺 藤县水上民歌传承基地挂牌成立 |岑溪工商开展儿童用品市场专项整治见成效|</marquee>-->
                    <marquee scrollamount="2"><a href="login.html">邓肯扩扩扩</a>&nbsp;|&nbsp;<a href="register.html">gfgfg</a></marquee>
                </div>
            </div>
        </div>
    </div>
    <div id="technology"></div>
    <div id="relevant"></div>
    <div id="footer"></div>
</div>
</body>
</html>
