<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>首页</title>
    <script type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../static/css/index.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" href="../static/css/menu.css" />
    <script type="text/javascript" src="../static/js/judge.js" th:src="@{/js/judge.js}"></script>
</head>

<body >
<!--顶部信息区-->
<header role="header">
    <div>
        <h1>新闻发布系统首页</h1>
        <nav role="user">
            <ul>
                <span id="num" style="display: none"  th:text="${num}"></span>
                <li ><strong id="name" th:text="${userName}"></strong></li>
                <li id="typemanger"><a href="../newsType/newsTypeManger.html" th:href="@{newsTypeManger}">新闻类型管理</a></li>
                <li id="newsmanger"><a href="../news/newsManger.html" th:href="@{../newsManger}">新闻管理</a></li>
                <li id="usermanger"><a href="user/userManger.html" th:href="@{userManger}">用户管理</a></li>
                <li><a href="user/menu.html" th:href="@{menu}" onclick="return menu()">个人信息</a></li>
                <li id="logout"><a href="user/login.html" onclick="out()">登出</a></li>
            </ul>
        </nav>
    </div>
</header>
<div id="body">
    <div id="search">
        <div id="search_left"><a href="#"><img src="../static/picture/login.png" th:src="@{/picture/login.png}" alt="新闻系统" height="46px" width="137px"></a></div>
        <div id="search_right">
            <form id="search_right_2" action="/search" method="post" >
                <div class="input-append">
                    <input type="text" class="span5" name="key" id="key" placeholder="请输入关键字">
                    <button class="btn" type="submit" >搜索</button>
                </div>
            </form>
        </div>
    </div>
    <div id="navigate">
        <a href="#" class="selected">首页</a>
        <div th:each="type : ${type}">
            <a  th:text="${type.getTypeName()}" th:value="${type.getId()}" onclick="guide(this)"></a>
        </div>
    </div>
    <div id="recommend">
        <div class="content">
            <ul  th:each="nn : ${news}">
                <li class="news_1">
                    <a  th:href="@{'/news/getnews/?id='+${nn.id}}">
                        <h3 th:text="${nn.getTitle()}"></h3>
                    </a>
                </li></br></br></br></br>
            </ul>
        </div>
        </div>
        <div id="recommend_right">
            <aside>
                <div class="hot_news" >
                    <h4>精彩资讯</h4>
                    <ul th:each="hot : ${hots}">
                        <li>
                            <h5> <a th:href="@{'/news/getnews/?id='+${hot.id}}" th:text="${hot.getTitle()}"></a></h5>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>

    </div>
    <div id="technology"></div>
    <div id="relevant"></div>
    <div id="footer"></div>
</div>
</body>
</html>

