@RequestMapping(value = "/updated")
public  String updated(HttpServletRequest request,Model model) {
int id = Integer.parseInt(request.getParameter("id"));
NewsInfo newsInfo = newsInfoService.selectNewsById(id);
Map<String, Object> map = new HashMap<>(10);
map.put("id", newsInfo.getId());
map.put("title",newsInfo.getTitle());
map.put("author",newsInfo.getAuthor());
map.put("created",DateTimeUtils.getFormatTime(newsInfo.getCreated()));
map.put("content",newsInfo.getContent());
map.put("digest",newsInfo.getDigest());
map.put("picture",newsInfo.getPicture());
model.addAttribute("news",map);
return  "news/NewsInfo";
}