<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rong.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.rong.web.pojo.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="newsId" property="newsId" jdbcType="INTEGER" />
    <result column="commentContent" property="commentContent" jdbcType="VARCHAR" />
    <result column="owerId" property="owerId" jdbcType="INTEGER" />
    <result column="ower" property="ower" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="INTEGER" />
    <result column="isCheck" property="isCheck" jdbcType="TINYINT" />
    <result column="deleted" property="deleted" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, newsId, commentContent, owerId, ower, created, isCheck, deleted, remark
  </sql>

  <select id="selectByOwerId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from comment
    where owerId = #{owerId,jdbcType=INTEGER} and deleted = 0
    order by created desc
  </select>

  <select id="selectByNewsId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from comment
    where newsId = #{newsId,jdbcType=INTEGER}
    order by created
  </select>

  <insert id="insert" parameterType="com.rong.web.pojo.Comment" useGeneratedKeys="true" keyProperty="id" >
    insert into comment (newsId, commentContent, owerId,
    ower, created, isCheck,
    deleted, remark)
    values (#{newsId,jdbcType=INTEGER}, #{commentContent,jdbcType=VARCHAR}, #{owerId,jdbcType=INTEGER},
    #{ower,jdbcType=VARCHAR}, #{created,jdbcType=INTEGER}, #{isCheck,jdbcType=TINYINT},
    #{deleted,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR})
  </insert>

  <update id="updateById" parameterType="java.lang.Integer"  >
    update comment
    set
    isCheck = 1
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="deleteById" parameterType="java.lang.Integer"  >
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>